parameters:
	ignoreErrors:
		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:hasMany\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Models/Role.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Models/User.php
